
    .donate-image img {
        width: 100%;
        * {
            margin: 0;
            padding: 0;
            font-family: "Poppins", sans-serif;
        }
    }
    .donate-image {
        position: relative;
        width: 100%;
    }
    .head {
        color: rgb(248, 243, 242);
        position: absolute;
        font-weight: 900;
        font-size: 50px;
        top: 20%;
        width: 100%;
        text-align: center;
    }
    .head2 {
        color: rgb(245, 245, 140);
        position: absolute;
        top: 40%;
        width: 100%;
        text-align: center;
        font-size: large;
    }
    .donate1 {
        color: rgb(252, 250, 249);
        position: absolute;
        text-decoration: none;
        top: 50%;
        width: 10%;
        margin-left: 45%;
        background-color:rgba(255, 68, 0, 0.829);
        border-radius: 5px;
        padding: 5px 5px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
    }
    .second-section {
        text-align: center;
        margin-top: 5%;
    }
    .button-class {
        text-align: center;
        margin-top: 2%;
        color: aquamarine;
    }
    button {
        color: rgb(75, 40, 40);
        margin: 15px 15px;
        font-size: larger;
        padding: 20px 20px;
    }
    .donate2 {
        color: white;
        background-color: rgba(255, 68, 0, 0.952);
        margin-left: 45%;
        border-radius: 5px;
        padding: 15px 25px;
        width: 10%;
        text-align: center;
        text-decoration: none;
    }
    .amount {
        text-align: center;
        padding: 10px 0px;
    }
    .donate-plan-text {
        display: flex;
    }
    .donate-plan {
        text-align: center;
        color: rgba(1, 27, 29, 0.63);
        display: block;
        margin-top: 5%;
    }
    .child-class2 {
        margin-top: 5%;
        width: 30%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        padding: 15px 15px;
        font-size: small;
        background-color: rgb(221, 133, 209);
        border-radius: 5px;
    }
    .child-class1 {
        margin-top: 5%;
        width: 30%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        padding: 15px 15px;
        font-size: small;
        background-color: rgb(16, 245, 176); 
        border-radius: 5px;
    }
    .half-width {
        width: 50%;
        padding-left: 5%;
        margin-top: 40px;
        background-color: beige;
        margin-bottom: 10px;
    }
    .half-width img {
        width: 70%;
    }
    .contribute {
        display: flex;
    }
    .update {
        text-align: center;
        margin-top: 50px;
    }
    .subscribers {
        background-color: rgba(253, 218, 16, 0.363);
        padding: 50px;
        text-align: center;
        margin-top: 70px;
        margin: 10%;
        border: 10px;
        border-radius: 5px;
    }
    .subs{
        background-color: rgb(245, 212, 170);
        padding: 10px 25px;
        border-style: none;
        border: 1px;
        border-radius: 5px;
    }
    .subscribehere {
        color: rgb(255, 255, 255);
        background-color: orangered;
        margin: -2px;
        padding: 10px 25px;
        border: 1px;
        border-radius: 5px;
    
        text-align: center;
        text-decoration: none;
    }

    
    footer {
        background-color: rgb(47, 47, 51);
        color: rgb(235, 243, 234);
        text-align: center;
        margin-top: 60px;
        padding: 20px 0px;
        font-size: small;
    }
    span {
        color: orangered;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 1000px;
    }